{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="container" id="mask">
            <div class="row g-0">
              {% if user.is_authenticated %}


              {% else %}
                <div class="col-sm-6 col-md-8" id="header-text">
                  <h1 id="header-h1" style="color: rgb(245, 237, 237);">The Complete <br> Cooking Companion. </h1>
                  <p id="header-paragraph" style="color: rgb(255, 255, 255);">A virtual Companion for cooking, <br> and an exclusive social media for passionate cookers.</p>
                  <a href="{% url 'login' %}" class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="body-link-row">Discover More</a>
                  {% endif %} 
                </div>

                <div class="col-6 col-md-4" id="header-image"><img src="assets/food.jpg" alt=""></div>
              </div>
    </div>
{% endblock content %}
